{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceder a la plataforma</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Usuario:</label>
                <input type="text" name="username" id="id_username" placeholder="Ingrese su usuario" required>
            </div>
            <div class="form-group">
                <label for="id_password">Contraseña:</label>
                <input type="password" name="password" id="id_password" placeholder="Ingrese su contraseña" required>
            </div>
            <button type="submit" class="btn">Ingrese</button>
        </form>
    </div>
</body>
</html>
# Cambio para forzar detección en Git
